<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/fontawesome.min.css" integrity="sha512-cHxvm20nkjOUySu7jdwiUxgGy11vuVPE9YeK89geLMLMMEOcKFyS2i+8wo0FOwyQO/bL8Bvq1KMsqK4bbOsPnA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <header class="toolbar">
      <div class="left-toolbar">
        <div class="button-group">
           <a href="site.html" class="button button">🏠</a>
<!--         <button class="button button-circle"><i class="fas fa-chevron-right"></i></button> -->
        </div>
      </div>
        <div class="title">Главная страница</div>
      <div class="right-toolbar">
        <a href="site.html"  class="button button">🏠</a>
        <a href="site2.html" class="button button">🛠️</a>
        <a href="site3.html" class="button button">💎</a>
        <a href="site4.html" class="button button">☎️</a>
      </div>
    </header>
    <main>
      <div class="container">
        <h1>Главная страница</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum urna quis lectus facilisis, id bibendum purus suscipit. Morbi aliquet mauris in blandit luctus. Nullam gravida mi vel massa ullamcorper, id interdum tortor laoreet. Sed bibendum mi ac nunc auctor, eget maximus purus vestibulum. Aenean aliquam mauris augue, eu tempus quam porttitor a. In eu massa ut elit hendrerit sodales a ut elit.</p>
        <p>Etiam blandit, mauris ut pretium mollis, leo lectus maximus enim, sit amet tincidunt nisi velit ut velit. Donec vitae felis sit amet risus gravida luctus vel a est. Integer sed nunc turpis. Nulla facilisi. In vel dolor nibh. Sed quis orci auctor, suscipit neque quis, tristique massa. Donec in mauris eu lectus euismod dapibus ac sed neque. Morbi quis euismod lacus, sit amet tincidunt nisl. Nulla sed finibus nibh. Proin ultrices sit amet sapien sed feugiat.</p>
        <ul class="list">
          <li><i class="fas fa-check"></i> Item 1</li>
          <li><i class="fas fa-check"></i> Item 2</li>
          <li><i class="fas fa-check"></i> Item 3</li>
        </ul>
      </div>
    </main>
    <div>
      <table>
            <thead>
                <tr>
                    <th>
                        Ism
                    </th>
                    <th>
                        Familiya
                    </th>
                    <th>
                        Yosh
                    </th>
                    <th>
                        Ma'lumoti
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Bekhzad
                    </td>
                    <td>
                        Khamidullaev
                   </td>
                    <td>
                        28
                    </td>
                    <td>
                        O'rta-maxsus
                    </td>
                </tr>
                <tr>
                    <td>
                        Bekhzad
                    </td>
                    <td>
                        Khamidullaev
                   </td>
                    <td>
                        28
                    </td>
                    <td>
                        O'rta-maxsus
                    </td>
                </tr>
                <tr>
                    <td>
                        Bekhzad
                    </td>
                    <td>
                        Khamidullaev
                   </td>
                    <td>
                        28
                    </td>
                    <td>
                        O'rta-maxsus
                    </td>
                </tr>
                <tr>
                    <td>
                        Bekhzad
                    </td>
                    <td>
                        Khamidullaev
                   </td>
                    <td>
                        28
                    </td>
                    <td>
                        O'rta-maxsus
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </body>
    <footer>
      <div class="container">
        <p>&copy; 2023 My Website. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
